/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*style*/

:root {
    --background-color:#fff1f2;
    --primary-color:#be123c;
    --primary-light:#fecdd3;
    --primary-dark: #9f1239;
    --special-variation: #f43f5e;
    --special-variation-2: #fda4af;
}

html {
    background: url('./images/background.jpg');
    background-size: 100%;
}

body {
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
}

h1, h2{
    font-family:'Times New Roman', Times, serif;
}

p {
    font-family:'Arial Narrow Bold', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 0 20vw;
    width: 60vw;
}

#header {
    display: flex;
    padding: 3vh 3vw;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-color);
}

#header>div {
    display: flex;
    align-items: center;
}

#header img {
    height: 7vh;
}

#header h1 {
    font-size: 6vh;
    color: #f3f4f6;
    font-weight: 1000;
}

nav {
    display: flex;
    flex-direction: row;
    font-size: 3vh;
    gap: 1vw;
    align-items: center;
    color: var(--primary-light);
}

nav label {
    padding: 1.5vh 1vw;
    transition: 300ms ease-in-out;
    color: #f3f4f6;
}

nav label:hover {
    background-color: var(--primary-dark);
    color: var(--background-color);
}

/*content*/

#content {
    display: flex;
    flex-direction: column;
    padding: 1vw 0;
    gap: 4vh;
    background-color: var(--background-color);
}

#content h1 {
    font-size: 6vh;
    color: var(--primary-dark);
    font-weight: 800;
}

.section-header {
    display: flex;
    width: 60vw;
    padding: 2vh 5vw;
    background-image: url(./images/header.jpeg);
    background-repeat: no-repeat;
    background-position: 0;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    padding: 2vw 5vw;
}

#about-us {
    background-image: url(./images/restaurant.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    width: 60vw;
    height: 50vh;
    bottom: 20vh;
}

#content>div:nth-of-type(2n) {
    background-color: var(--primary-light);
}

.section>img {
    width: 60vw;
    align-self: center;
    position: relative;
}

.section>p {
    text-align: center;
}

p {
    font-size: 2.2vh;
    color: var(--primary-dark);
    font-weight: 500;
}

/*home hours*/

#content .hours {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 30vw;
    padding: 2vh;
    justify-content: center;
    align-items: center;
    background-color: var(--special-variation-2);
    border-radius: 1vh;
    border: 6px double var(--background-color);
}

.hours p {
    font-weight: 700;
}

/*menu option*/

.option {
    display: flex;
    flex-direction: row-reverse;
    padding: 2vw;
    gap: 2vw;
    justify-content: space-around;
    align-self: center;
    width: 50vw;
    background-color: var(--special-variation);
    color: var(--background-color);
    border-radius: 1vh;
    border: 6px double var(--background-color);
}

.section>div:nth-of-type(2n) {
    flex-direction: row;
    background-color: var(--special-variation-2);
}

h2 {
    font-size: 3.5vh;
    font-weight: 800;
    color: var(--background-color);
}

.section>div:nth-of-type(2n) h2 {
    color: var(--primary-dark);
}

.option p {
    color: #f3f4f6;
}

.section>div:nth-of-type(2n) p {
    color: #1f2937;
}

.option img {
    height: 20vh;
    border-radius: 1vw;
    align-self: center;
}

.option div {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.option p:last-child {
    font-weight: 700;
    font-size: 2vh;
    margin-top: auto;
    text-align: end;
}